/*  Portfolio Styling */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f2f2f2; 
  color: #333;
}


header {
  position:sticky;
  background-color:#1742a1;
  color: white;
  text-align: center;
  top: 0;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0px  10px;
  padding: 6px 12px;
  border-radius: 5px;
}

section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  
}

section h2 {
  color:#1742a1; 
  border-bottom: 2px solid#c0e5ff;
  padding-bottom: 5px;
}

  /* About Section */
#about img {
  display:block;
  width: 150px;          
  height: 200px;         
  object-fit: cover;     
  margin: 10px auto;
  border: 3px solid #c0e5ff; 
}

/* Skills Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color:#1742a1;
  color: white;
}

tr{
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Projects */
.project {
  border: 1px solid white;
  padding: 10px;
  margin: 10px ;
  border-radius: 5px;
  background-color:white;
}

/* Contact Form */
form input,
form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 1rem;
}

button {
  background-color:#1742a1; 
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

button:hover {
  background-color: #c0e5ff;
  color: #333;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background-color: #e6e6e6;
  color: #555;
  margin-top: 20px;
}
